.btn {
  display: inline-block;
  height: 42px;
  line-height: 38px;
  padding: 0 18px;
  border: 2px solid;
  border-radius: 25px;
  cursor: pointer;
  outline: 0;
  font-size: .813rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
}
.btn--primary {
  $color: $green;
  background-color: $color;
  border-color: $color;
  color: $white;
  &:hover {
    background-color: darken($color, 10%);
    border-color: darken($color, 10%);
  }
}
.btn--secondary {
  $borderColor: #EEE;
  $color: #AAA;
  background-color: $white;
  border-color: $borderColor;
  color: $color;
  &:hover {
    border-color: darken($borderColor, 10%);
    color: darken($color, 10%);
  }
}
