$base-color      : #334249;
$base-fontFamily : Helvetica, Helvetica Neue, Arial, sans-serif;
$base-lineHeight : 1.75rem;

$fontSize--root  : 16px;
$fontSize--small : 0.813rem;
$fontSize--h1    : 2.625rem;
$fontSize--h2    : 1.625rem;
$fontSize--h3    : 1.250rem;

$green           : #2ECC71;
$white           : #FFF;
