html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  font-size: $fontSize--root;
}
body {
  font-family: $base-fontFamily;
  line-height: $base-lineHeight;
  color: $base-color;
  background-color: $white;
  margin: 0;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}
/*
 * I normally wouldn't define anything else after this point
 * in such a shotgun selector fashion.
 */
h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: $fontSize--h1;
}
h2 {
  font-size: $fontSize--h2;
}
h3 {
  font-size: $fontSize--h3;
}
